@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #212529;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: url('img/img/banner-1.jpg') 47% 50%/cover no-repeat;
}

nav {
    padding: 15px 10px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 170px;
    max-width: 100%;
}

/* Mobil görünüş */
.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desktop {
    display: none;
}

.fa-light,
.fa-solid {
    font-size: 20px;
    cursor: pointer;
}

.header-text {
    height: 90vh;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    letter-spacing: 0.1px;
}

.header-text h2 {
    font-size: 60px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 20px;
}

.org {
    color: #6bb252;
    font-weight: 600;
}

.door {
    font-weight: 600;
}

.dig {
    color: #747474;
    font-size: 18px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.links a {
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    display: inline-block;
}

.links a:first-child {
    background-color: #6bb252;
}

.links a:last-child {
    background-color: #212529;
}

.info {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 25px;
}

.info div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.follower {
    font-size: 24px;
    font-weight: 700;
}

.info div p:last-of-type {
    text-transform: uppercase;
    font-size: 15px;
    color: black;
}

.info-p2 {
    font-size: 16px !important;
}

/* Desktop görünüşü */
@media only screen and (min-width: 768px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-ul {
        display: flex;
        gap: 25px;
    }

    .nav-ul li a {
        text-transform: uppercase;
        color: black;
        font-weight: 600;
        font-size: 15px;
    }

    nav {
        padding: 15px 30px;
    }

    .header-text {
        padding: 0px 40px;
    }

    .header-text h2 {
        font-size: 80px;
    }

    .header-text p {
        font-size: 22px;
    }

    .links {
        flex-direction: row;
        gap: 20px;
    }

    .follower {
        font-size: 40px !important;
    }

    .info div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .info-p2 {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 245px) {
    .header-text h2 {
        margin-bottom: 0px;
        font-size: 30px !important;
    }

    .links {
        margin-top: 0px;
    }

    .info {
        margin-top: 0px;
    }

    .links a {
        padding: 15px 20px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 336px) {
    .header-text h2 {
        font-size: 45px;
    }
}